#cabecera {
  background-color: rgba(100, 100, 100, 0.2);
  margin: 2em 4em 2em 4em;
  border-radius: 23px 23px 23px 23px;
  -webkit-border-radius: 23px 23px 23px 23px;
  -moz-border-radius: 23px 23px 23px 23px;
}
.Titulo {
  padding: 1px 10px 1px 10px;
  font-size: 30px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkolivegreen;
  border-radius: 23px 23px 0px 0px;
  -webkit-border-radius: 23px 23px 0px 0px;
  -moz-border-radius: 23px 23px 0px 0px;
}
.cuerpo {
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: darkslategray;
}
h2 {
  font-weight: 900;
}
.footer{
  color: darkslategray;
  font-size: large;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 0.2em;
  background-color: rgba(100, 100, 100, 0.555);
  border-radius: 23px 23px 0px 0px;
  -webkit-border-radius: 0px 0px 23px 23px;
  -moz-border-radius: 0px 0px 23px 23px;
}
